page-home {
    vertical-align: middle;
}
#ion-content-home{
    background-color: rgba(248,208,217,0.1);
    
}
#select_location_text{
    color: white;
    font-size: 0.45em;
    margin-left: 2.5em;
    font-weight: 500;
}
#location_text{
    font-size: .8em;
    margin-left: 0.25em;

    font-weight: 500;
}
.toolbar-title-md #navbar_location_title{
    margin-left: .5em;
    max-width: 9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

    font-weight: 500;
    border-bottom: 0.8px solid white;
}
.homepage_grid{
    text-align: center;
    padding-top:5%;

}
.homepage_grid .homepage_row ion-col img{
    width: 13em;
    padding:2em;
    padding-bottom: 1em;
}
.homepage_grid ion-col:hover{
    background-color:#FFD1D9;
    border-radius: 2em;
    z-index: 1000;
}
.homepage_grid ion-col{
    // border:0.2px solid #FFD1D9;
    margin:0em;
    // background-color: white;
}
.homepage_grid ion-col p{
    font-size: 1.2em;
    color:#111;
    font-weight: 500;
    padding:0.5em;
}
#col1{
    border-right:0.2px solid #FFD1D9;
}
#col4{
   border-left:0.2px solid #FFD1D9;
}
#col5,#col6{
 border-top:0.2px solid #FFD1D9;
 margin:0.5em; 
 height: 1px;  
}
#row1{
    margin-bottom:0.3em;
}


