// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-backdrop{
    opacity: 0.4;
    background-color: white;
}

ion-navbar.toolbar{
    background-color: #ed517c;
    font-weight: 400;
}
.toolbar-background-md {
    background-color: rgb(243, 60, 115);
    filter :brightness(120%);
    opacity: 1;

} .toolbar-background-ios{
      background-color: #ec4675;
}

ion-title .toolbar-title-md{
    color:white;
}
 ion-title .toolbar-title-ios{
    color:white;
}

ion-navbar .button-inner{
    color:white
}
#ion-header-maps{
    background-color: rgb(243, 60, 115);
    filter :brightness(120%);
    height:3.4em;
    vertical-align: middle;
}

#ion-header-maps div{
    color:white;
    font-size:1em;
    padding:auto;
    margin-top:0.9em;
    margin-left:1.5em;
}
#ion-header-maps div span{
    color:white;
    font-size:1.5em;
    padding:0.5em;
    padding-top:1em;
}
#ion-header-maps button{
    background-color:inherit;
    opacity: 0.75;
    z-index: 999;
    font-weight: 500;
    margin-top:-2.1em;
    margin-left: -3em;
    float:right;
    padding:0.5em;
}
