page-verify-otp {

}
page-verify-otp {
    
    }
    #nav-verify-otp{
      background-color: white;
    }
    
    #shesafe-logo{
      width:40%;
      margin: auto;
      align-content: center;
      padding-top:15px;
      padding-bottom:15px;
      display: block;
    }
    #edit_button{
      color:#ed517c;
      padding: 10px;
      padding-top: 5px;
      width: 100px;
      margin: auto;
      text-align: center;
      background: transparent;
      border: 0;
      box-shadow: 0;
    }
    .user_details_edit_container_line{
     margin: 5px;
     margin-top: 5px;
     text-align: center;
    }
    
    .phone-text{
      width: 90%;
    }
    #button_verify_otp{
      width: 90%;
      margin: auto;
      margin-top: 5%;
      align-content: center;
    }
    #resend_otp{
      text-align: center;
      width: 100%;
      margin:auto;
      margin-top:2em;
    }
    #resend_otp button{
      background-color:transparent;
    }
    
    