page-know-this-locality {

}
#list_icon_arrow{
    font-size:2.5em
}
#knowthislocality_search{
    background-color:#1abc9c ;
    opacity: 0.75;
}
#knowthislocality_search:after{
    background-color:inherit ;
}
