page-know-this-locality {

}
#list_icon_arrow{
    font-size:2.5em;
    color:#4a4a4a;
}
#knowthislocality_search:after{
    background-color:inherit ;
}

.img_rating_listpage{
    height: 2.5em;
    width: 2.5em;
}
.rating_value_listpage{
    // position: relative;
    left:41%;
    top:23%;
    font-size: 1.1em;
    font-weight: bold;
    color:green;
}