<!--
  Generated template for the ClickUploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Share Picture</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img [src]="captureDataUrl" *ngIf="captureDataUrl"/>
  <br>
  <button ion-button full *ngIf="downloadUrl.length != 0" (tap)='share()' class="onHOVER">Send Picture to My Contacts</button>
  <br>
  Download URL : <a>{{downloadUrl}}</a>
</ion-content>
